Repository vegaprotocol/vega, changes with the owners that CODEOWNERS names for each.
All owners: @edd, @jeremyletang, @vegaprotocol/core, @vegaprotocol/research, @vegaprotocol/frontend

feat: update OracleSpecStatus gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/oracles_resolver.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update AssetStatus gql enum
  datanode/gateway/graphql/asset_resolver.go
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update NodeStatus gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/node_resolver.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

fix: typo
  datanode/gateway/graphql/marshallers/marshallers.go
Owners: @vegaprotocol/core

feat: update ProposalType gql enum
  datanode/gateway/graphql/connection_handlers.go
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/modelext.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/proposal_resolver.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
  protos/data-node/api/v1/trading_data.pb.go
  protos/sources/data-node/api/v1/trading_data.proto
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update VoteValue gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/schema.graphql
  datanode/gateway/graphql/vote_resolver.go
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update ConditionOperator gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/modelext.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/oracles_resolver.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update AccountType gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/marshallers/account_type.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update {Withdrawal/Deposit}Status gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
  datanode/gateway/graphql/withdrawal_resolver.go
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update OrderTimeInForce, OrderStatus, PeggedReference gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/helpers_test.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: linter
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/oracles_resolver.go
Owners: @vegaprotocol/core

feat: update AuctionTrigger gql enum
  datanode/api/trading_data.go
  datanode/gateway/graphql/auction_event_resolver.go
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/market_data_resolvers.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update StakeLinking{Status/Type} gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/schema.graphql
  datanode/gateway/graphql/staking.go
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update OrderRejectReason gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update Interval gql enum
  datanode/gateway/graphql/connection_handlers.go
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/market_data_resolvers.go
  datanode/gateway/graphql/market_resolvers.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update ProposalRejectReason gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/proposal_resolver.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update ProposalType gql enum
  datanode/gateway/graphql/connection_handlers.go
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/modelext.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update LiquidityProvisionStatus, TradeType gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/liquidity_provisions_resolver.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: update changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

chore: fix typo
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

fix: panic in pegged orders when going into auction fixed
  CHANGELOG.md
  core/execution/event_generation_test.go
  core/execution/market.go
  core/execution/market_for_test.go
  core/execution/pegged_orders.go
  core/execution/pegged_orders_test.go
  core/execution/special_orders.go
  core/matching/orderbook.go
  core/matching/snapshot.go
  core/types/snapshot_nodes.go
  protos/sources/vega/snapshot/v1/snapshot.proto
  protos/vega/snapshot/v1/snapshot.pb.go
Owners: @vegaprotocol/core

chore: simplify data structure for orderbook keeping pegged orders
  core/matching/orderbook.go
  core/matching/snapshot.go
Owners: @vegaprotocol/core

feat: Add wallet JSON-RPC documentation
  CHANGELOG.md
  wallet/api/errors.go
  wallet/api/helpers_for_test.go
  wallet/api/openrpc.json
Owners: @vegaprotocol/core

feat: make Direction optional in transferConnection + rename field from pubkey to partyId
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: add transferConnections under party type
  datanode/gateway/graphql/all_resolver.go
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: update changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

fix: rename and add panic if parked orders are in the book
  core/execution/market.go
  core/execution/market_for_test.go
  core/execution/special_orders.go
  core/matching/orderbook.go
Owners: @vegaprotocol/core

chore: remove unnecessary comment
  core/execution/pegged_orders.go
Owners: @vegaprotocol/core

feat: use enum for validator status
  CHANGELOG.md
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/ranking_score_resolver.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: rephrased comment
  core/execution/event_generation_test.go
Owners: @vegaprotocol/core

chore: wip refactor
  core/execution/market.go
  core/execution/pegged_orders.go
  core/execution/special_orders.go
  core/matching/cached_orderbook.go
  core/matching/orderbook.go
Owners: @vegaprotocol/core

fix: ensure order expiring are not amendedInPlace as it might not be supported
  CHANGELOG.md
  core/execution/market.go
Owners: @vegaprotocol/core

chore: wip
  core/execution/market.go
Owners: @vegaprotocol/core

chore: remove commented code
  core/execution/market.go
Owners: @vegaprotocol/core

fix: unregister statevars when market is rejected
  core/execution/market.go
Owners: @vegaprotocol/core

chore: update changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

fix: fix market termination before enactment
  CHANGELOG.md
  core/execution/market.go
  core/execution/snapshot_test.go
  core/governance/checkpoint.go
  core/governance/checkpoint_test.go
  core/governance/engine.go
  core/governance/engine_freeform_test.go
  core/governance/engine_new_asset_test.go
  core/governance/engine_new_market_test.go
  core/governance/engine_test.go
  core/governance/engine_update_market_test.go
  core/governance/market.go
  core/governance/mocks/markets_mock.go
  core/governance/snapshot_test.go
  core/integration/features/settlement/0002-STTL-settlement_at_expiry_with_dp.feature
  core/integration/features/settlement/settlement_at_expiry_by_time_from_internal_oracle.feature
  core/integration/features/verified/0002-STTL-settlement_at_expiry.feature
Owners: @vegaprotocol/core, @vegaprotocol/research

fix: update review comment come after approval
  .github/workflows/project_management.yml
Owners: @vegaprotocol/core

fix: promotion due to slot increase and normal promotion-swap can happen in the same epoch
  core/validators/validator_set.go
  core/validators/validator_set_test.go
Owners: @vegaprotocol/core

chore: update changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

CODEOWNERS:

*.md @edd @jeremyletang
* @vegaprotocol/core
core/integration/features/verified/ @vegaprotocol/research
datanode/gateway/graphql/schema.graphql @vegaprotocol/frontend
