Repository vegaprotocol/vega, changes with the owners that CODEOWNERS names for each.
All owners: @edd, @jeremyletang, @vegaprotocol/core, @vegaprotocol/research, @vegaprotocol/frontend

CODEOWNERS:

*.md @edd @jeremyletang
* @vegaprotocol/core
core/integration/features/verified/ @vegaprotocol/research
datanode/gateway/graphql/schema.graphql @vegaprotocol/frontend

feat: add feature test for 0006-POSI AC008
  core/integration/features/verified/0006-POSI-AC-008.feature
Owners: @vegaprotocol/research

chore: add support for bridge stop / resume
  core/banking/asset_action.go
  core/banking/bridge_stop_resume.go
  core/banking/engine.go
  core/banking/engine_test.go
  core/banking/erc20.go
  core/banking/mocks/erc20_bridge_view_mock.go
  core/bridges/erc20_logic_view.go
  core/bridges/mocks/eth_client_mock.go
  core/bridges/mocks/eth_confirmations_mock.go
  core/evtforward/ethereum/filterer.go
  core/integration/setup_test.go
  core/integration/stubs/bridge_view_stub.go
  core/integration/stubs/time_stub.go
  core/processor/mocks/banking_mock.go
  core/processor/process_chain_event.go
  core/processor/processor.go
  core/protocol/all_services.go
  core/types/chain_events.go
  datanode/service/mocks/position_mock.go
  datanode/sqlsubscribers/mocks/node_mock.go
  protos/sources/vega/chain_events.proto
  protos/vega/chain_events.pb.go
Owners: @vegaprotocol/core

chore: fix some more test + use bridgeView in banking instead of assets
  core/banking/asset_action.go
  core/banking/bridge_stop_resume.go
  core/banking/builtin_assets.go
  core/banking/engine.go
  core/banking/erc20.go
  core/banking/mocks/erc20_bridge_view_mock.go
  core/banking/snapshot.go
  core/bridges/erc20_logic_view.go
Owners: @vegaprotocol/core

fix: positions datanode tests
  datanode/sqlstore/positions.go
Owners: @vegaprotocol/core

chore: update changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

fix: re-generate mock
  core/bridges/erc20_logic_view.go
  datanode/api/trading_data.go
  datanode/service/mocks/position_mock.go
  datanode/service/position.go
  datanode/sqlstore/node.go
  datanode/sqlstore/positions.go
  datanode/sqlsubscribers/mocks/node_mock.go
  datanode/sqlsubscribers/mocks/positions_mock.go
  datanode/sqlsubscribers/node.go
  datanode/sqlsubscribers/position.go
  go.mod
  go.sum
Owners: @vegaprotocol/core

fix: tests
  datanode/service/position_test.go
  datanode/sqlstore/node.go
  datanode/sqlstore/node_test.go
  datanode/sqlstore/positions.go
  datanode/sqlstore/positions_test.go
  datanode/sqlsubscribers/positions_test.go
Owners: @vegaprotocol/core

chore: gofumpt
  core/banking/checkpoint.go
Owners: @vegaprotocol/core

feat: add checkpoint support for bridge state
  core/banking/checkpoint.go
  protos/sources/vega/checkpoint/v1/checkpoint.proto
  protos/vega/checkpoint/v1/checkpoint.pb.go
Owners: @vegaprotocol/core

chore: fix integration tests
  core/integration/stubs/bridge_view_stub.go
Owners: @vegaprotocol/core

feat: add support for bridge stopped / resumed action in banking snapshot
  core/banking/snapshot.go
  core/types/snapshot_nodes.go
  protos/sources/vega/snapshot/v1/snapshot.proto
  protos/vega/snapshot/v1/snapshot.pb.go
Owners: @vegaprotocol/core

fix: protos naming
  protos/sources/vega/checkpoint/v1/checkpoint.proto
  protos/vega/checkpoint/v1/checkpoint.pb.go
Owners: @vegaprotocol/core

chore: move asset validation outside of the asset
  core/assets/asset.go
  core/assets/assets.go
  core/assets/assets_test.go
  core/assets/builtin/builtin.go
  core/assets/checkpoint.go
  core/assets/erc20/erc20.go
  core/assets/mocks/erc20_bridge_view_mock.go
  core/assets/snapshot.go
  core/banking/cancel_transfer_test.go
  core/bridges/erc20_logic_view.go
  core/execution/market_asset_test.go
  core/governance/engine.go
  core/governance/market_cp_restore_test.go
  core/governance/mocks/assets_mock.go
  core/governance/node_validation.go
  core/integration/stubs/assets.go
  core/protocol/all_services.go
  core/protocol/upon_genesis.go
Owners: @vegaprotocol/core

chore: linter
  core/assets/assets.go
  core/bridges/erc20_logic_view.go
Owners: @vegaprotocol/core

feat: handle bridge state snapshot for banking
  core/banking/engine.go
  core/banking/snapshot.go
  core/types/snapshot_nodes.go
  protos/sources/vega/snapshot/v1/snapshot.proto
  protos/vega/snapshot/v1/snapshot.pb.go
Owners: @vegaprotocol/core

fix: address PR comment
  core/types/snapshot_nodes.go
Owners: @vegaprotocol/core

feat: address PR comments
  core/banking/bridge_stop_resume.go
Owners: @vegaprotocol/core

fix: addressed PR comments
  core/banking/checkpoint.go
  core/banking/snapshot.go
Owners: @vegaprotocol/core

feat: make graphql endpoint configurable
  CHANGELOG.md
  datanode/gateway/config.go
  datanode/gateway/graphql/server.go
Owners: @vegaprotocol/core

ci: test if committed generated files match just generated files
  .golangci.toml
  Jenkinsfile
  Makefile
Owners: @vegaprotocol/core

feat: add missing mock
  core/bridges/mocks/eth_client_mock.go
Owners: @vegaprotocol/core

chore: tidy dependencies and fix script
  Makefile
  go.sum
Owners: @vegaprotocol/core

fix: don't count entire positions table in all_positions view
  CHANGELOG.md
  datanode/sqlstore/migrations/0001_initial.sql
Owners: @vegaprotocol/core

chore: verbose output for generate
  Makefile
Owners: @vegaprotocol/core

fix: ensure parked orders are kept sorted
  core/execution/pegged_orders.go
Owners: @vegaprotocol/core

chore: update schema + protos (remove decimal place from asset proposal)
  commands/proposal_submission.go
  core/types/governance_update_asset.go
  datanode/gateway/graphql/schema.graphql
  protos/sources/vega/assets.proto
  protos/vega/assets.pb.go
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: add support for update asset proposals in graphql
  CHANGELOG.md
  datanode/entities/proposal.go
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
  datanode/gateway/graphql/update_asset_resolver.go
  protos/data-node/api/v2/trading_data.pb.go
  protos/sources/data-node/api/v2/trading_data.proto
  protos/vega/vega.go
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: fix tests
  commands/proposal_submission_update_asset_test.go
  protos/sources/vega/governance.proto
Owners: @vegaprotocol/core

chore: map all V2 grpc api to REST
  protos/data-node/api/v2/trading_data.pb.gw.go
  protos/sources/data-node/grpc-rest-bindings.yml
Owners: @vegaprotocol/core

chore: update changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

feat: add ethereum key rotations
  CHANGELOG.md
  cmd/data-node/node/node.go
  cmd/data-node/node/node_pre.go
  datanode/api/server.go
  datanode/api/trading_data_v2.go
  datanode/api/trading_test.go
  datanode/entities/entities.go
  datanode/entities/ethereum_key_rotation.go
  datanode/gateway/graphql/ethereum_key_rotation_resolver.go
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/mocks/trading_data_service_client_v2_mock.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
  datanode/service/ethereum_key_rotation.go
  datanode/sqlstore/ethereum_key_rotations.go
  datanode/sqlstore/ethereum_key_rotations_test.go
  datanode/sqlstore/migrations/0001_initial.sql
  datanode/sqlstore/node.go
  datanode/sqlsubscribers/ethereum_key_rotation.go
  datanode/sqlsubscribers/mocks/node_mock.go
  datanode/sqlsubscribers/node.go
  protos/data-node/api/v2/trading_data.pb.go
  protos/data-node/api/v2/trading_data_grpc.pb.go
  protos/sources/data-node/api/v2/trading_data.proto
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: rollback tendermint to version 0.34.20
  cmd/vega/genesis/generate.go
  cmd/vega/init.go
  cmd/vega/node/app_wrapper.go
  cmd/vega/nodewallet/import.go
  cmd/vega/tm.go
  cmd/vega/watch.go
  core/api/core.go
  core/api/grpc.go
  core/api/mocks/blockchain_mock.go
  core/blockchain/abci/abci.go
  core/blockchain/abci/client.go
  core/blockchain/abci/local_client.go
  core/blockchain/abci/tm_node.go
  core/blockchain/client.go
  core/blockchain/nullchain/nullchain.go
  core/nodewallets/commander.go
  core/nodewallets/commander_test.go
  core/nodewallets/mocks/chain_mock.go
  core/stats/stats.go
  core/tendermint/config.go
  go.mod
  go.sum
Owners: @vegaprotocol/core

feat: tm version + changelog
  CHANGELOG.md
  core/blockchain/nullchain/nullchain.go
Owners: @vegaprotocol/core

fix: typo in order book cache invalidation
  core/matching/cached_orderbook.go
Owners: @vegaprotocol/core

feat: add side marshaller
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update DispatchMetric gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/schema.graphql
  datanode/gateway/graphql/transfers_resolver.go
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update TransferStatus enums
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/schema.graphql
  datanode/gateway/graphql/transfers_resolver.go
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: remove unused code
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/helpers_test.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/resolvers.go
Owners: @vegaprotocol/core

feat: update PropertyKeyTyp gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/modelext.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/oracles_resolver.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: update NodeSignatureKind gql enum
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/gqlgen.yml
  datanode/gateway/graphql/helpers_enum.go
  datanode/gateway/graphql/marshallers/marshallers.go
  datanode/gateway/graphql/models.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend
