Repository vegaprotocol/vega, changes with the owners that CODEOWNERS names for each.
All owners: @edd, @jeremyletang, @vegaprotocol/core, @vegaprotocol/research, @vegaprotocol/frontend

chore: fix linter issues
  core/validators/validator_set.go
Owners: @vegaprotocol/core

fix: add validation for closing timestamp
  commands/proposal_submission.go
  commands/proposal_submission_new_asset_test.go
Owners: @vegaprotocol/core

chore: update changelog
  CHANGELOG.md
  commands/proposal_submission.go
Owners: @vegaprotocol/core

chore: address review comments
  commands/proposal_submission.go
  commands/proposal_submission_new_asset_test.go
Owners: @vegaprotocol/core

feat: Add wallet HTTP API v2 documentation
  CHANGELOG.md
  libs/jsonrpc/response.go
  wallet/service/openapi.json
  wallet/service/service_v2.go
Owners: @vegaprotocol/core

fix: avoid saving proposals of terminated/cancelled/rejected/settled markets in checkpoint
  CHANGELOG.md
  core/governance/checkpoint.go
  core/governance/checkpoint_test.go
  core/governance/engine_test.go
Owners: @vegaprotocol/core

chore: fix linter issue
  core/governance/checkpoint_test.go
Owners: @vegaprotocol/core

fix: convert update asset action properly
  core/types/snapshot_nodes.go
Owners: @vegaprotocol/core

chore: add some protection in restoration so we can find these issues quicker
  core/banking/snapshot.go
Owners: @vegaprotocol/core

feat: Add endpoint to wallet HTTP API v2 to list available RPC methods
  CHANGELOG.md
  libs/jsonrpc/api.go
  libs/jsonrpc/api_test.go
  wallet/service/openapi.json
  wallet/service/service.go
  wallet/service/service_v2.go
Owners: @vegaprotocol/core

fix: add missing GetMarket grpc endpoint
  CHANGELOG.md
  datanode/api/trading_data_v2.go
Owners: @vegaprotocol/core

chore: fix tests
  core/matching/cancelorders_test.go
  core/matching/orderbook_ext_test.go
  core/matching/orderbook_test.go
Owners: @vegaprotocol/core

chore: golangci lint
  core/execution/market.go
  core/matching/orderbook_ext_test.go
Owners: @vegaprotocol/core

feat: add endpoint to get a single network parameter
  datanode/api/trading_data_v2.go
  protos/data-node/api/v2/trading_data.pb.go
  protos/data-node/api/v2/trading_data.pb.gw.go
  protos/data-node/api/v2/trading_data_grpc.pb.go
  protos/sources/data-node/api/v2/trading_data.proto
  protos/sources/data-node/grpc-rest-bindings.yml
Owners: @vegaprotocol/core

feat: add graphql API
  CHANGELOG.md
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/resolvers.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: generate mocks
  datanode/gateway/graphql/mocks/trading_data_service_client_v2_mock.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

fix: add validationDatetime to graphql schema
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/proposal_terms_resolver.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: update changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

Update core/execution/market.go
  core/execution/market.go
Owners: @vegaprotocol/core

fix: Do not overwrite local changes when updating wallet through JSON-RPC API
  CHANGELOG.md
  wallet/api/request_permissions.go
  wallet/api/request_permissions_test.go
  wallet/api/sessions.go
Owners: @vegaprotocol/core

chore: resolve lint errors and update change log
  CHANGELOG.md
  datanode/sqlstore/candles.go
  datanode/sqlstore/checkpoints.go
  datanode/sqlstore/market_data_test.go
  datanode/sqlstore/node.go
  datanode/sqlstore/oracle_spec.go
  datanode/sqlstore/parties_test.go
  datanode/sqlstore/stake_linking.go
Owners: @vegaprotocol/core

fix: panic in ListAssets
  CHANGELOG.md
  datanode/api/trading_data_v2.go
Owners: @vegaprotocol/core

fix: revisit handling of cancelled market
  core/execution/market.go
  core/governance/engine.go
  core/governance/engine_update_market_test.go
Owners: @vegaprotocol/core

fix: remove extra `0` in the AC code tag
  core/integration/features/verified/0006-POSI-AC009.feature
Owners: @vegaprotocol/research

chore: fix doc comments
  protos/sources/data-node/api/v2/trading_data.proto
Owners: @vegaprotocol/core

chore: move codegen of openapiv2 to buf + add deps to generate openapiv2 stuff
  buf.gen.swagger.yaml
  protos/data-node/api/v2/trading_data.pb.go
  protos/sources/buf.lock
  protos/sources/buf.yaml
  protos/sources/data-node/api/v2/buf.gen.yaml
  protos/sources/data-node/api/v2/trading_data.proto
  script/generate_json.sh
Owners: @vegaprotocol/core

chore: gen docs
  buf.gen.swagger.yaml
Owners: @vegaprotocol/core

chore: generate all types of docs in their own folder
  Makefile
  buf.gen.swagger.yaml
Owners: @vegaprotocol/core

chore: remove unnecessary scripts
  Makefile
  protos/data-node/api/v2/trading_data.pb.go
  protos/data-node/api/v2/trading_data_grpc.pb.go
  script/generate.sh
  script/generate_json.sh
Owners: @vegaprotocol/core

chore: fix makefile + remove base_path
  Makefile
  protos/sources/data-node/api/v2/trading_data.proto
Owners: @vegaprotocol/core

chore: docs gen
  Makefile
  protos/sources/data-node/api/v2/trading_data.proto
Owners: @vegaprotocol/core

chore: update all docs comment in protos (better doc generation)
  protos/data-node/api/v2/trading_data_grpc.pb.go
  protos/sources/data-node/api/v2/trading_data.proto
Owners: @vegaprotocol/core

chore: fix missing fields
  protos/data-node/api/v2/trading_data_grpc.pb.go
  protos/sources/data-node/api/v2/trading_data.proto
Owners: @vegaprotocol/core

chore: update changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

fix: block store not passed to grpc api
  CHANGELOG.md
  datanode/api/server.go
Owners: @vegaprotocol/core

feat: Remove support for launching a proxy in front of console and token dApp
  .spelling
  CHANGELOG.md
  cmd/vegawallet/commands/network_describe.go
  cmd/vegawallet/commands/service_run.go
  cmd/vegawallet/commands/service_run_test.go
  go.mod
  go.sum
  wallet/network/handler.go
  wallet/network/network.go
  wallet/network/network_test.go
  wallet/proxy/proxy.go
  wallet/tests/commands_for_test.go
  wallet/tests/helpers_for_test.go
  wallet/tests/sc_describe_network_test.go
Owners: @vegaprotocol/core

feat: Allow a validator to withdraw their protocol upgrade proposal
  CHANGELOG.md
  cmd/vega/propose_upgrade.go
  commands/protocol_upgrade_proposal.go
  core/events/protocol_upgrade.go
  core/processor/abci.go
  core/protocol/all_services.go
  core/protocolupgrade/engine.go
  core/protocolupgrade/engine_test.go
  core/protocolupgrade/snapshot.go
  core/types/protocol_upgrade.go
  protos/sources/vega/commands/v1/validator_commands.proto
  protos/sources/vega/events/v1/events.proto
  protos/sources/vega/snapshot/v1/snapshot.proto
  protos/vega/commands/v1/validator_commands.pb.go
  protos/vega/events/v1/events.pb.go
Owners: @vegaprotocol/core

fix: clarify the error for insufficient token to submit proposal or vote
  CHANGELOG.md
  core/spam/engine_test.go
  core/spam/simple_spam_policy.go
  core/spam/simple_spam_policy_test.go
  core/spam/vote_spam_policy.go
Owners: @vegaprotocol/core

fix: witness check for majority fixed
  CHANGELOG.md
  core/validators/witness.go
  core/validators/witness_test.go
Owners: @vegaprotocol/core

chore: generate missing proto
  protos/vega/snapshot/v1/snapshot.pb.go
Owners: @vegaprotocol/core

CODEOWNERS:

*.md @edd @jeremyletang
* @vegaprotocol/core
core/integration/features/verified/ @vegaprotocol/research
datanode/gateway/graphql/schema.graphql @vegaprotocol/frontend
