Repository vegaprotocol/vega, changes with the owners that CODEOWNERS names for each.
All owners: @edd, @jeremyletang, @vegaprotocol/core, @vegaprotocol/research, @vegaprotocol/frontend

feat: AC for 0029-FEES-005
  core/integration/features/fees/immediate-amend-fees.feature
Owners: @vegaprotocol/core

chore: feature test moved
  core/integration/features/verified/0029-FEES-fees.feature
Owners: @vegaprotocol/research

chore: deleted duplicated feature test
  core/integration/features/fees/immediate-amend-fees.feature
Owners: @vegaprotocol/core

feat: Better notification for version update on the wallet
  CHANGELOG.md
  cmd/vegawallet/commands/cmd.go
  cmd/vegawallet/commands/command_send.go
  cmd/vegawallet/commands/command_sign.go
  cmd/vegawallet/commands/root.go
  cmd/vegawallet/commands/service_run.go
  cmd/vegawallet/commands/tx_send.go
  cmd/vegawallet/commands/version.go
  wallet/version/version.go
Owners: @vegaprotocol/core

chore: remove flaky tests, make generated IDs random
  datanode/sqlstore/sqlstore_test.go
  datanode/utils/observer_test.go
Owners: @vegaprotocol/core

feat: remove hash + url add Title in rationale
  commands/errors.go
  commands/proposal_submission.go
  commands/proposal_submission_new_freeform_test.go
  commands/proposal_submission_test.go
  protos/sources/vega/governance.proto
  protos/vega/governance.pb.go
Owners: @vegaprotocol/core

fix: incorrect data types on some market data fields
  datanode/entities/marketdata.go
  datanode/entities/marketdata_test.go
  datanode/sqlstore/market_data_test.go
  datanode/sqlstore/migrations/0001_initial.sql
Owners: @vegaprotocol/core

feat: fix all tests + add changelog
  CHANGELOG.md
  commands/proposal_submission.go
  commands/proposal_submission_test.go
  core/events/governance_proposal_test.go
  core/governance/engine_test.go
  core/types/governance_proposal.go
  core/types/snapshot_nodes_test.go
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/schema.graphql
  datanode/sqlstore/proposals_test.go
  datanode/sqlstore/votes_test.go
Owners: @vegaprotocol/core, @vegaprotocol/frontend

feat: fix gql comment
  datanode/gateway/graphql/generated.go
  datanode/gateway/graphql/schema.graphql
Owners: @vegaprotocol/core, @vegaprotocol/frontend

chore: update readme + move vega readme under the core directory
  README.md
Owners: @vegaprotocol/core

chore: update readme
  core/README.md
Owners: @vegaprotocol/core

refactor: scenarios refactored with AC code
  core/integration/features/verified/0029-FEES-fees.feature
Owners: @vegaprotocol/research

chore: update changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

feat: add visor
  cmd/visor/init.go
  cmd/visor/main.go
  cmd/visor/run.go
  visor/binaries_runner.go
  visor/config/run_config.go
  visor/config/visor_config.go
  visor/init.go
  visor/utils/utils.go
  visor/vega_client.go
  visor/visor.go
Owners: @vegaprotocol/core

feat: use vega logger and real vega RCP api
  cmd/visor/init.go
  cmd/visor/run.go
  core/admin/server.go
  visor/binaries_runner.go
  visor/config/run_config.go
  visor/config/visor_config.go
  visor/init.go
  visor/visor.go
Owners: @vegaprotocol/core

feat: add missing folder
  visor/client/client.go
Owners: @vegaprotocol/core

feat: add real Admin RPC API
  core/admin/client.go
  core/admin/server.go
  visor/vega_client.go
  visor/visor.go
Owners: @vegaprotocol/core

fix: add changelog
  CHANGELOG.md
Owners: @vegaprotocol/core

feat: fix lint
  visor/init.go
Owners: @vegaprotocol/core

feat: remove print
  visor/binaries_runner.go
Owners: @vegaprotocol/core

feat: wait for stop
  core/protocolupgrade/engine.go
  visor/binaries_runner.go
Owners: @vegaprotocol/core

feat: change paths
  visor/config/run_config.go
  visor/config/visor_config.go
Owners: @vegaprotocol/core

feat: fix protocol upgrade
  core/events/protocol_upgrade.go
  core/processor/abci.go
  core/protocolupgrade/engine.go
Owners: @vegaprotocol/core

feat: add autoinstall support
  go.mod
  go.sum
  visor/args.go
  visor/binaries_runner.go
  visor/config/visor_config.go
  visor/github/assets_fetcher.go
  visor/init.go
  visor/utils/utils.go
  visor/visor.go
  visor/visor_folders.go
Owners: @vegaprotocol/core

feat: make config more specific
  cmd/visor/init.go
  visor/binaries_runner.go
  visor/config/run_config.go
  visor/init.go
  visor/visor.go
Owners: @vegaprotocol/core

feat: fix protocol upgrade core, improve visor
  core/processor/abci.go
  core/protocolupgrade/engine_test.go
  visor/binaries_runner.go
  visor/config/visor_config.go
  visor/visor.go
Owners: @vegaprotocol/core

feat: re-start from snapshot automatically
  cmd/visor/init.go
  visor/binaries_runner.go
  visor/visor.go
Owners: @vegaprotocol/core

chore: add output json to version commands
  cmd/data-node/commands/version.go
  cmd/vega/version.go
Owners: @vegaprotocol/core

feat: fix semver check && prepend vega binary
  cmd/vega/node/node.go
  cmd/vega/propose_upgrade.go
  core/protocolupgrade/engine.go
  visor/args.go
  visor/github/assets_fetcher.go
  visor/visor_folders.go
Owners: @vegaprotocol/core

feat: fix comments
  core/protocolupgrade/engine.go
  core/protocolupgrade/engine_test.go
  visor/binaries_runner.go
Owners: @vegaprotocol/core

feat: rebased and fixed lint
  visor/args.go
  visor/github/assets_fetcher.go
Owners: @vegaprotocol/core

feat: fix linters
  cmd/data-node/commands/version.go
  cmd/vega/version.go
  cmd/visor/init.go
  core/protocolupgrade/engine.go
  visor/args.go
Owners: @vegaprotocol/core

feat: run go mod tidy
  go.mod
  go.sum
Owners: @vegaprotocol/core

feat: add binary version check
  visor/binaries_runner.go
  visor/utils/utils.go
  visor/visor.go
Owners: @vegaprotocol/core

chore: add a new network parameter for rewards market creation quantum multiple
  core/execution/engine.go
  core/netparams/defaults.go
  core/netparams/keys.go
  core/protocol/all_services.go
Owners: @vegaprotocol/core

Release version 0.54.0
  CHANGELOG.md
  version/version.go
Owners: @vegaprotocol/core

CODEOWNERS:

*.md @edd @jeremyletang
* @vegaprotocol/core
core/integration/features/verified/ @vegaprotocol/research
datanode/gateway/graphql/schema.graphql @vegaprotocol/frontend
